@mixin headingprop($display, $font-size, $font-weight, $letter-spacing, $animation){
    display: $display;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing:$letter-spacing ;
    animation:  $animation 2s ease-in;
}

@mixin clearfix{
    &::after{
      content:"";
      display:table;
      clear:both;
    }
  }

  @mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  //MEDIA QUERY MANAGER

  /* -600PX : PHONE
  600-900PX: TABLET PORTRAIT
  900-1200PX: TABLET LANDSCAPE
  1200 -1800PX: NORMAL STYLES APPLY
  18000PX + BIG DESKTOP
    
  $breakpoint argument choices
  -phone
  -tab-port
  -tab-land
  -bid-desktop

  1em == 16px; I cannot use rem in media queries becuase it depends on the default font-size root
  browser, so it could change several times, and I don't have control on it.

  Order of change: 
  base + typography > general layout + grid >page layout > components
  */

  @mixin respond($breakpoint){
    @if $breakpoint == phone {
      @media (max-width:37.5em){ @content }; //600px
    }
    @if $breakpoint == tab-port {
      @media (max-width:56.25em){ @content };//900px
    }
    @if $breakpoint == tab-land {
      @media (max-width:75em){ @content }; //1200px
    }
    @if $breakpoint == big-desktop {
      @media (max-width:112.5em){ @content };//1800px
    }
  }