@mixin headingprop($display, $font-size, $font-weight, $letter-spacing, $animation){
    display: $display;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing:$letter-spacing ;
    animation:  $animation 2s ease-in;
}

@mixin clearfix{
    &::after{
      content:"";
      display:table;
      clear:both;
    }
  }

  @mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }