
*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    /*To apply all the font changes for differents width*/
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
}
